@{
    Layout = "~/Views/Admin_Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Thống kê";
}

@section styles{

}

@section subheader{
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title ">Thống kê</h3>
            </div>
        </div>
    </div>
}

Thống kê

@section scripts{

}






