@{
    Layout = "~/Views/Admin_Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Sản phẩm";
}

@section styles{

}

@section subheader{
    <div class="m-subheader d-flex">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator ">Sản phẩm</h3>
            </div>
        </div>
        <div class="m-portlet__nav-item ml-auto">
            <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--pill m-btn--icon m-btn--air">
                <span>
                    <i class="la la-plus"></i>
                    <span>New record</span>
                </span>
            </a>
        </div>
    </div>
}

@section scripts{

}

