	<!-- Title Page -->
<section class="bg-title-page p-t-40 p-b-50 flex-col-c-m" style="background-image: url(@ViewBag.Image_Header)">
    <h2 class="l-text2 t-center">      
        @ViewBag.Title_Header
    </h2>
</section>
